{{> header}}

<p>Select a city from the list to view the weather</p>

<ul>
  <li><a href="/weather/Львів">Львів</a></li>
  <li><a href="/weather/Тернопіль">Тернопіль</a></li>
  <li><a href="/weather/Одеса">Одеса</a></li>
  <li><a href="/weather/Київ">Київ</a></li>
  <li><a href="/weather/Черкаси">Черкаси</a></li>
  <li><a href="/weather/Обухів">Обухів</a></li>
</ul>

<button onclick="getLocation()">Погода за моїм місцезнаходженням</button>

{{> footer}}
